{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["prettier"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/explicit-module-boundary-types": "error",
		// TODO: Донастроить правила
		//		"@typescript-eslint/naming-convention": [
		//			"error",
		//			{
		//				"selector": "default",
		//				"format": ["camelCase"]
		//			}
		//		],
		"prefer-const": "error",
		"no-unused-vars": "error",
		"eqeqeq": "error",
		"curly": "error",
		"no-useless-constructor": "error",
		"max-params": ["error", 3],
		"prettier/prettier": "error"
	}
}
